
.container-fluid{
   background-image: url(./imagenes/desktop-wallpaper-homer-simpson-the-simpsons-simpsons.jpg);
   background-size: 15rem;
   height: 20vh;
   background-repeat: no-repeat;
   background-color: rgb(9, 195, 241);
}
.navbar-nav{
   margin-left: 2rem;
}
.container-fluid a{
   padding-left: 8rem;
}
.carousel-item img{
   height: 80vh;
   margin-top: 1rem;
 margin-left: 0.2rem;
   margin-bottom: 3rem;
   opacity: 0.6;
}
.carousel-item h5{
   color: black;
   font-size: 2rem;
}
.carousel-item p{
   color: black;
   font-weight: 800;
   font-size: 1.3rem;
}
.card, img{
   height: 50vh;
   width: 80vh;
}
.contenedor2{
   padding-left: 4rem;
   padding-right: 4rem;
   background-color: rgb(255, 255, 131);
}
.contenedor1{
   background-color: rgb(255, 255, 131);
}


.titulo h3{
   margin-left: 23rem;
   margin-bottom: 4rem;
   padding-top: 4rem;
   
      font-family: "Anton", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 3rem;
    }
    
.contenedor3{
   padding-left: 4rem;
   padding-right: 4rem;
   padding-top: 0.5rem;
   background-color: rgb(255, 255, 131);
}    
.contenedor4{
   padding-left: 4rem;
   padding-right: 4rem;
   padding-top: 0.5rem;
   background-color: rgb(255, 255, 131);
}
footer{
   background-color: black;
   height: 10vh;
   border: solid 1px red;
   
}
.foot{
   color: aliceblue;
   text-align: center;
   padding-top: 1rem;
}
