
.container-fluid{
    background-image: url(./img/desktop-wallpaper-homer-simpson-the-simpsons-simpsons.jpg);
    background-size: 15rem;
    height: 20vh;
    background-repeat: no-repeat;
    background-color: rgb(9, 195, 241);
 }
 .navbar-nav{
    margin-left: 2rem;
 }
 .container-fluid a{
    padding-left: 8rem;
 }
 .video{
    margin-top: 3rem;
   padding-left: 2rem;
   background-color: yellow;
   padding-right: 2rem;
   padding-top: 0.5rem;
   
 }
 
 body{
    height: 86rem;
    background-image: url(../imagenes/scale.webp);
    background-repeat: no-repeat;
    margin-top: 30rem;
 }


 
 .sinopsis{
    margin-left: 40rem;
    padding-top: 17rem;
    margin-right: 2rem;
    font-weight: 500;
    font-size: 0.9rem;
 }

    
 footer{
    background-color: black;
    height: 10vh;
    border: solid 1px red;
    margin-top: 5rem;
    
 }
 .foot{
    color: aliceblue;
    text-align: center;
    padding-top: 1rem;
 }