





.container-fluid{
    background-image: url(../imagenes/desktop-wallpaper-homer-simpson-the-simpsons-simpsons.jpg);
    background-size: 15rem;
    height: 20vh;
    background-repeat: no-repeat;
    background-color: rgb(9, 195, 241);
 }

 .navbar-nav{
    margin-left: 2rem;
 }

 .container-fluid a{
    padding-left: 8rem;
 }
 footer{
    background-color: black;
    height: 10vh;
    border: solid 1px red;
    margin-top: 2rem;
    
 }
 .foot{
    color: aliceblue;
    text-align: center;
    padding-top: 1rem;
 }